@model LanguageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1#the-select-tag-helper">Select Tag Helper in ASP.NET Core</a>.</p>
    <select asp-for="Language" asp-items="Model.Languages"></select>
</div>
